.App {
  flex: 1;
  padding: 40px 140px 40px 140px;
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(218, 218, 218);
}

@media (max-width: 600px) {
	.App {
		padding: 40px;
	}
}
