.App {
  flex: 1;
  padding: 40px 140px 40px 140px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 40px;
  background-color: rgb(170, 170, 170);
}