.card{
  --border-size: 5px;
  width: 100%;
  height: 100%;
  /* border: 4px solid white; */
  border-radius: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  /* outline: 2px solid white; */
}

.card:hover{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.596) 0px 4px 1px;
}

#banana{
  border: var(--border-size) solid rgb(255, 235, 54);
}
#apple{
  border: var(--border-size) solid rgb(255, 52, 52);
}
#orange{
  border: var(--border-size) solid rgb(252, 154, 27);
}
#kiwi{
  border: var(--border-size) solid rgb(80, 212, 40);
}
#pineapple{
  border: var(--border-size) solid rgb(255, 230, 0);
}
#watermelon{
  border: var(--border-size) solid rgb(73, 170, 53);
  background-size: 240%;
}
#cherry{
  border: var(--border-size) solid rgb(182, 6, 6);
  background-size: 140%;
}
#peach{
  border: var(--border-size) solid rgb(230, 129, 62);
  background-size: 120%;
}
#coconut{
  border: var(--border-size) solid rgb(133, 87, 49);
}
#mango{
  border: var(--border-size) solid rgb(255, 163, 25);
  background-size: 120%;
}
#strawberry{
  border: var(--border-size) solid rgb(231, 30, 30);
}
#blueberry{
  border: var(--border-size) solid rgb(65, 51, 194);
}
