#header {
  display: flex;
  padding: 12px;
	padding-right: 12px;
	padding-left: 20px;
	padding-bottom: 16px;
  border-radius: 10px;
  background-color: rgb(131, 131, 131);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -5px 0px inset;
}

#rules {
	font-size: 20px;
}

#scoreboard {
	margin-left: auto;
  padding: 10px;
  justify-self: flex-end;
  background-color: rgb(80, 80, 80);
  border-radius: 8px;
}
