#main {
  padding: 10px;
	padding-top: 20px;
	padding-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
	grid-auto-rows: 290px;
	justify-content: center;
  gap: 20px;
  border-radius: 10px;
  background-color: rgb(131, 131, 131);
  box-shadow: rgba(0, 0, 0, 0.2) 0px -5px 0px inset;
}
